body {
    font-family: "Roboto", sans-serif !important;
    overflow-x: hidden;
    margin-bottom: 0 auto;
    background: white;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 !important;
}

a {
    text-decoration: none !important;
    cursor: pointer;
}

/* colors */
:root {
    --white-color: #ffff;
    --gray-color: #d1d1d1;
    --darkgray-color: #9e9e9e;
    --black-color: #0e0e0e;
    --orange-color: #ffa500;
}

/* buttons */
a.black-btn {
    border: 1px solid var(--black-color);
    border-radius: 30px;
    padding: 10px 40px;
    font-size: 15px;
    font-weight: 500;
    color: var(--white-color);
    background-color: var(--black-color);
}

a.white-btn {
    border: 1px solid var(--white-color);
    border-radius: 30px;
    padding: 10px 40px;
    font-size: 15px;
    font-weight: 500;
    color: var(--black-color);
    background-color: var(--white-color);
}

a.black-btn-small {
    border: 1px solid var(--black-color);
    border-radius: 30px;
    padding: 5px 25px;
    font-size: 12px;
    font-weight: 500;
    color: var(--white-color);
    background-color: var(--black-color);
}

a.white-btn-small {
    border: 1px solid var(--white-color);
    border-radius: 30px;
    padding: 5px 25px;
    font-size: 12px;
    font-weight: 500;
    color: var(--white-color);
    background-color: var(--white-color);
}

/* ------------------------- */


/* loader start*/
.loader {
    background: url('../img/loader.gif');
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 999;
    background-size: cover;
    background-position: center;
    animation: spin 2s linear infinite;
}

/* Hide the loader after 20 seconds */
@keyframes hideLoader {
    0% {
        opacity: 1;
    }

    95% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

.loader.hide {
    animation: hideLoader 1s forwards;
}

/* loader end*/

/* home-page css start */

/* top-bar start */
.top-bar {
    height: 55px;
    position: fixed;
    width: 100%;
    z-index: 999;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 16%);
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-bar .logo a {
    color: black;
    font-size: 20px;
    font-weight: 600;
}

.social-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: 8px;
}

.social-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    width: 38px;
    height: 38px;
    text-decoration: none;
    border-radius: 100%;
    background: #f3f3f3;
    text-align: center;
}

.social-button::after {
    content: '';
    position: absolute;
    top: -1px;
    left: 50%;
    display: block;
    width: 0;
    height: 0;
    border-radius: 100%;
    transition: 0.3s;
}

.social-button:focus,
.social-button:hover {
    color: #fff;
}

.social-button:focus::after,
.social-button:hover::after {
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    margin-left: calc(-50% - 1px);
}

.social-button i,
.social-button svg {
    position: relative;
    z-index: 1;
    transition: 0.3s;
}

.social-button i {
    font-size: 20px;
}

.social-button svg {
    height: 40%;
    width: 40%;
}

.social-button--mail {
    color: #e04d3b;
}

.social-button--mail::after {
    background: #e04d3b;
}

.social-button--linkedin {
    color: #0077b5;
}

.social-button--linkedin::after {
    background: #0077b5;
}

.social-button--github {
    color: #000000;
}

.social-button--github::after {
    background: #000000;
}

.social-button--whatsapp {
    color: #4fc65c;
}

.social-button--whatsapp::after {
    background: #4fc65c;
}

.social-button--twitter {
    color: #55acee;
}

.social-button--twitter::after {
    background: #55acee;
}


/* .top-bar .nav-bar {
    padding-top: 3px;
    float: right;
}

.top-bar .nav-bar ul {
    display: flex;
    margin-bottom: 0;
    list-style: none;
    padding-left: 0;
}

.top-bar .nav-bar li a {
    color: black;
    font-size: 15px;
    padding: 0 15px;
}

.top-bar .nav-bar li a:hover {
    transition: 0.5s;
    opacity: 0.5s;
    color: #fc6d43;
} */


/* dropdown buttn */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.parent li>a:hover .dropdown-content {
    display: block;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 55px;
    right: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.9s;
}

.sidenav.active {
    width: 100%;
}

.sidenav ul {
    list-style: none;
    padding-left: 20px;
    margin-bottom: 0;
}

.sidenav ul a {
    padding-left: 16px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: black;
}

/* X menu btn */
.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 4px;
    border-radius: 8px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -6px);
}

.toggleMenu {
    position: absolute;
    top: 6px;
    right: 4%;
    z-index: 1;
    display: none;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.mobile-nav {
    display: none;
}

/* top-bar end */

/* banner start */
.banner {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    background-blend-mode: soft-light;
    background-color: #000000f2;
}

.banner .banner-text h1 {
    font-size: 60px;
    color: var(--white-color);
}

.banner .banner-text h6 {
    font-size: 17px;
    color: var(--white-color);
    padding-top: 5px;
    font-weight: 300;
}

.banner .banner-text .owl-carousel {
    display: unset;
}

.banner .banner-text .owl-carousel .owl-item .cloned {
    width: 50px !important;
}

.banner .banner-text .icon-img {
    margin-top: 20px;
}

.banner .icon-img img {
    width: 35px !important;
    height: 35px !important;
    object-fit: cover;
    object-position: center;
    background-color: var(--white-color);
    border-radius: 5px;
    padding: 5px;
}

/* banner end */

/* about-us start */
.about-us {
    padding: 50px 0;
    background-color: var(--white-color);
}

.about-us .profile-image img {
    width: 400px;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}

.about-us .content-center {
    display: flex;
    align-items: center;
}

.about-us .profile-content h1 {
    font-size: 50px;
    font-weight: 700;
    color: var(--black-color);
}

.about-us .profile-content p {
    padding-top: 10px;
    color: var(--darkgray-color);
    font-size: 15px;
}

/* about-us end */

/* services start */
.services {
    padding: 50px 0;
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: soft-light;
    background-color: #000000a1;
}

.services .services-content {
    text-align: center;
}

.services .services-content h1 {
    font-size: 40px;
    color: var(--white-color);
    font-weight: 700;
}

.services .services-content p {
    font-size: 14px;
    color: var(--gray-color);
    padding-top: 10px;
}

.services .services-card {
    margin-top: 40px;
}

.services .services-card .card-main {
    border: 1px solid var(--darkgray-color);
    border-radius: 5px;
    padding: 25px 15px;
    height: 145px;
    margin: 0 8px;
    text-align: center;
}

.services .card-main img {
    width: 50px !important;
    height: 50px !important;
    object-fit: cover;
    object-position: center;
    margin: auto;
}

.services .card-main h5 {
    font-size: 15px;
    color: white;
    padding-top: 25px;
    font-weight: 300;
}

.services .services-card .service-btn {
    margin-top: 50px;
    text-align: center;
}

/* services end */

/* projects start */
.projects {
    padding: 50px 0;
}

.projects .project-content {
    text-align: center;
}

.projects .project-content h1 {
    font-size: 40px;
    color: var(--black-color);
    font-weight: 700;
}

.projects .project-content p {
    font-size: 14px;
    color: var(--darkgray-color);
    padding-top: 10px;
}

.projects .projects-main {
    margin-top: 40px;
}

.projects .projects-main .project-card {
    border: 1px solid var(--gray-color);
    border-radius: 5px;
    margin: 0 8px;
}

.slick-next,
.slick-prev {
    display: none !important;
}

.projects .project-card .project-img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: left;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid var(--gray-color);
}

.projects .project-card .project-card-text {
    padding: 20px 15px;
}

.projects .project-card .project-card-text h3 {
    font-size: 17px;
    font-weight: 700;
    color: var(--black-color);
}

.projects .project-card .project-card-text p {
    font-size: 13px;
    padding-top: 5px;
    color: var(--darkgray-color);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.projects .project-card .project-card-btn {
    margin-top: 20px;
}

.projects .projects-main .project-btn {
    text-align: center;
    margin-top: 50px;
}

/* projects end */

/* help-you start */
.help-you {
    width: 100%;
    height: 230px;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    background-color: #000000eb;
}

.help-you .help-left h1 {
    font-size: 40px;
    color: var(--white-color);
    font-weight: 700;
}

.help-you .help-left p {
    font-size: 14px;
    color: var(--gray-color);
    padding-top: 3px;
}

.help-you .help-content .help-right {
    float: right;
    margin-top: 25px;
}

/* help-you end */

/* testimonail start */
.testimonail {
    padding: 50px 0;
    background-color: var(--white-color);
}

.testimonail .testimonail-content {
    text-align: center;
}

.testimonail .testimonail-content h1 {
    font-size: 40px;
    color: var(--black-color);
    font-weight: 700;
}

.testimonail .testimonail-content p {
    font-size: 14px;
    color: var(--darkgray-color);
    padding-top: 10px;
}

.testimonail .testimonail-carousel {
    margin-top: 40px;
}

.testimonail .testimonail-carousel .testimonail-card {
    padding: 20px 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 4px lightgrey;
    /* width: 100%; */
    height: 235px;
    margin: 5px 8px;
}

.testimonail .testimonail-card img {
    width: 55px !important;
    height: 55px;
    object-fit: cover;
    object-position: center;
    border-radius: 50px;
    display: block;
    margin: auto;
}

.testimonail .testimonail-card p {
    padding-top: 20px;
    font-size: 12px;
    color: var(--darkgray-color);
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.testimonail .cstm-bottom-row {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.testimonail .cstm-bottom-row .bottom-left-title h5 {
    font-size: 15px;
    color: var(--black-color);
}

.testimonail .cstm-bottom-row .bottom-left-title p {
    font-size: 11px;
    padding-top: 3px;
    color: var(--darkgray-color);
    text-align: unset;
}

.testimonail .cstm-bottom-row .bottom-right-rating {
    display: flex;
    align-items: center;
}

.testimonail .cstm-bottom-row .bottom-right-rating span {
    font-size: 10px;
    padding: 0 1px;
}

.testimonail .cstm-bottom-row .bottom-right-rating .checked {
    color: var(--orange-color);
}

/* testimonail end */

/* contact-me start */
.contact-me {
    padding: 50px 0;
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    background-blend-mode: soft-light;
    background-attachment: fixed;
    background-color: #000000f2;
}

.contact-me .contact-content {
    text-align: center;
}

.contact-me .contact-content h1 {
    font-size: 40px;
    color: var(--white-color);
    font-weight: 700;
}

.contact-me .contact-content p {
    font-size: 14px;
    color: var(--darkgray-color);
    padding-top: 10px;
}

.contact-me .contact-main {
    margin-top: 40px;
}

.contact-me .contact-main .contact-card {
    background-color: var(--white-color);
    border: 1px solid var(--white-color);
    border-radius: 5px;
    padding: 25px;
    margin-top: 20px;
    text-align: center;
    width: 100%;
    height: 130px;
}

.contact-me .contact-card img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    object-position: center;
    display: block;
    margin: auto;
}

.contact-me .contact-card .card-btn {
    margin-top: 20px;
}

.contact-me .contact-card .card-btn a {
    font-size: 15px;
    color: var(--black-color);
    padding-top: 28px;
    font-weight: 500;
    margin-top: 20px;
}

.contact-me .contact-card a:hover {
    color: var(--orange-color);
    transition: 0.5s;
}

/* contact-me end */

/* footer start */
.footer {
    padding: 15px 0;
    background-color: var(--white-color);
    text-align: center;
}

.footer h5 {
    font-size: 14px;
    color: var(--black-color);
}

/* footer end */
/* home-page css end */

/* projects-page css start */
.projects-banner {
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
    background-color: #000000f2;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects-banner .projects-text h1 {
    font-size: 40px;
    color: var(--white-color);
    font-weight: 700;
}

.projects-page {
    padding: 50px 0;
}

.projects-page .projects-main .project-card {
    border: 1px solid var(--gray-color);
    border-radius: 5px;
    width: 100%;
    height: 350px;
    margin-top: 25px;
}

.projects-page .project-card .project-img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: left;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid var(--gray-color);
}

.projects-page .project-card .project-card-text {
    padding: 20px 15px;
}

.projects-page .project-card .project-card-text h3 {
    font-size: 17px;
    font-weight: 700;
    color: var(--black-color);
}

.projects-page .project-card .project-card-text p {
    font-size: 13px;
    padding-top: 5px;
    color: var(--darkgray-color);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.projects-page .project-card .project-card-btn {
    margin-top: 20px;
}

/* home-page css end */





@media screen and (max-width: 1920px) {}

@media screen and (max-width: 1366px) {}


@media screen and (max-width: 768px) {
    .toggleMenu {
        display: block;
    }

    .top-bar {
        height: 55px;
        padding: 15px 0;
    }

    .social-buttons {
        justify-content: center;
        gap: 10px;
        margin-top: 0px;
    }

    .top-bar .logo a {
        font-size: 23px;
        font-weight: 500;
    }

    .mobile-nav {
        display: block;
    }

    .top-bar .nav-bar {
        display: none;
    }

    .sidenav ul {
        padding: 15px 0 0 0;
    }

    .sidenav ul li {
        padding-top: 15px;
    }

    .sidenav ul a {
        font-size: 18px;
    }

    .banner {
        height: 55vh;
        background-color: #000000e0;
        padding-top: 40px;
    }

    .banner .banner-text h1 {
        font-size: 40px;
    }

    .banner .banner-text h6 {
        font-size: 17px;
    }

    .about-us {
        text-align: center;
    }

    .about-us .profile-image img {
        width: 300px;
    }

    .about-us .profile-content h1 {
        font-size: 33px;
    }

    .about-us .profile-content p {
        font-size: 14px;
    }

    .services {
        background-color: #00000062;
    }

    .services .services-card .card-main {
        padding: 20px;
        margin-top: 14px;
    }

    .services .card-main h5 {
        font-size: 15px;
        text-align: center;
        font-weight: 300;
    }

    .help-you {
        background-color: #000000d9;
    }

    .help-you .help-left h1 {
        font-size: 30px;
    }

    .help-you .help-content .help-right {
        float: unset;
        margin-top: 30px;
    }

    .contact-me {
        background-color: #000000e0;
    }

    .projects-banner {
        background-color: #000000e0;
    }
}

@media screen and (max-width: 600px) {
    .top-bar {
        height: auto;
        text-align: center;
        padding: 15px 0;
    }

    .social-buttons {
        justify-content: center;
        gap: 10px;
        margin-top: 10px;
    }

    .about-us .profile-content {
        padding-top: 30px;
    }

    .about-us .profile-content h1 {
        font-size: 30px;
    }

    .about-us .profile-content p {
        font-size: 15px;
    }

    .services {
        background-color: #00000033;
    }

    .services .services-card .card-main {
        padding: 20px;
        margin-top: 14px;
    }

    .services .card-main h5 {
        font-size: 12px;
    }

    .contact-me {
        background-color: #000000ce;
    }

    .contact-me .contact-main .contact-card {
        padding: 20px;
    }
}

@media screen and (max-width: 425px) {
    .banner {
        height: 55vh;
    }
}

@media screen and (max-width: 375px) {
    .banner {
        height: 70vh;
    }

    .about-us .profile-content h1 {
        font-size: 30px;
    }

    .help-you .help-left h1 {
        font-size: 28px;
    }
}