<div class="main-about">
  <div class="container">
    <div class="row">

      <div class="col-12">
        <div class="page-heading">
          <h3>About Us</h3>
          <div class="seprator mt-2"></div>
        </div>
      </div>

      <div class="col-12">
        <div class="inner">
          <div class="row">
            <div class="col-12 col-md-4 col-lg-5">
              <div class="left">
                <img src="/assets/img/idrees.JPG">
              </div>
            </div>
    
            <div class="col-12 col-md-8 col-lg-7">
              <div class="right">
                <h4>About Us</h4>
                <p>Since 2015 I've been living, breathing web development and creating web and mobile applications with cool tech stack. other than that I am an opensource contributor, a mentor and a speaker as well.</p>
                <h6>I have 5+ years of experience in software industry, which can sums up as a "Full Stack Developer" on the following Tech Stack:</h6>
                <p>Javascript | Typescript | Angular | React | NodeJS | Ruby on Rails</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
