<div class="service-listing">
    <div class="container">
      <div class="row justify-content-center">
  
        <div class="col-12">
          <div class="page-heading">
            <h3>Services</h3>
            <div class="seprator mt-2"></div>
          </div>
        </div>
  
        <div class="col-12">
          <div class="inner">
            <div class="row">
  
              <div class="col-6 col-md-4 col-lg-2" *ngFor="let item of data">
                <div class="card">
                  <div class="image">
                    <img src={{item.image}}>
                  </div>
  
                  <h4>{{item.name}}</h4>
                </div>
              </div>
  
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  
